<div class="list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i> Messages Show </h5>
      </div>
      <div class="col-lg-12 col-sm-6">
        <div class="box grid recipes">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th style="text-align: center">From</th>
                <th style="text-align: center">When</th>
                <th style="text-align: center">Message</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @message.visitor.fullname %></td>
                  <td><%= time_ago @message.created_at %></td>
                  <td><%= @message.content %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
